.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #34AFFF;
    color: black;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

.Caixa-Conteudo {
    /*Tamanho*/
    width: 95%;
    height: 100%;
    /*Espaçamento*/
    padding: 5px;
    margin-top: 20px;
    margin-left: 30px;
    /*Organzação de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*cor*/
    background-color: palevioletred;
}

.Sessão-Conteudo-Dash {
    /*Tamanho*/
    width: 100%;
    height: 95%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*cor*/
    background-color: blue;
}

.Sessao-Indicadores{
     /*Tamanho*/
     width: 100%;
     height: 120px;
     /*Organização de elementos filhos*/
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
   
}

.INFO-1{
     /*tamanho*/
     height: 100%;
     width: 20%;
     /*espaçamento*/
     padding: 10px;
     /*detalhes*/
     text-align: center;
     /*Fonte*/
     font-size: 18px;
     /*cor*/
     background-color: #f1f1f1;
     /*borda*/
     border-radius: 8px;
}

.titulo{
    /*tamanho*/
    height: 10px;
}

.conteudo-info{
    /*tamanho*/
    width: 100%;
    height: 74%;
    /*espaçamento*/
    padding: 5px;
    gap: 10px;
    margin-bottom: 90px;
    /*organização do elementos filhos*/
    display: flex;
   justify-content: center;
    align-items: center;
    /*detalhes*/
    box-sizing: border-box;
    /*posição*/
    position: relative;
    background-color: aqua;
}

.circulo{
    /*tamanho*/
    height: 50%;
    width: 50%;
    /*fonte*/
    /*espaçamento*/
    margin-bottom: 70px;
    font-size: 60px;
    /*cor*/
    color: purple;
    /*borda*/
    border-radius: 50px;
    /*posição*/
    position: relative;
    z-index: 1;
}

.Informacao{
    /*fonte*/
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
}
