.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #34AFFF;
    color: black;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

.AreaKpis{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    gap: 30px;
    justify-content: center;

}

.KPI1, .KPI2, .KPI3, .KPI4{
    width:400px;
    height: 180px;
    background-color: blue;
    border-radius: 16px;
}

.KPI1, .KPI2, .KPI3, .KPI4{
    display: flex;
    flex-direction: row;
}

.bolaRoxa{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #8D33FF;
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 60px;
    width: 50px;
}

.AreaTexto{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 30px;
    margin-left: 8%;
}


.Graficos{

    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-top: 2%;
}

.Grafico1{
    width: 1058px;
    height: 600px;
    background-color: green;
    border-radius: 16px;
}

.AreaGraficoPizza, .AreaGraficoPizza2{

    margin-left: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.GraficoPizza1, .GraficoPizza2, .GraficoPizza3, .GraficoPizza4{
    
    width: 300px;
    height: 295px;
     background-color: aqua;
     border-radius: 16px;

}
