* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
    height: 100%;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.Sessao-esquerda {
    background-color: #F2F4F8;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-sessaoEsquerda {
    width: 60%;
    height: 70%;
    background-color: #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
}

.Sessao-direita {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: absolute;
    top: 5%;
}

.logo img {
    width: 200px;
}

.titulo {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 210px;
    margin-left: 70px;
    font-size: 32px;
    
}

.inputs {
    width: 100%;
    margin-left: 70px;
}

label {
    font-size: 22px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #189bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0079cc;
}