* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100%;
    /* height: 30rem; */
}

header {
    height: 3.6rem;
    display: flex;
    flex-direction: row;
}

/* -------------------------- Header -------------------------- */

.logo_header {
    display: flex;
    align-items: center;
    padding-left: 10.4rem;
    padding-top: 0.35rem;
    width: 3.4rem;
    height: 2.8rem;
}

.logo_header img {
    height: 100%;
    width: 100%;
}

.options_header {
    display: flex;
    justify-content: flex-end;
    padding-left: 37.25rem;
    height: 100%;
}

nav {
    display: flex;
    height: 100%;
}

ul {
    width: 32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3.62rem;
}

li,
li a {
    list-style: none;
    text-decoration: none;
    color: #828282;
    font-weight: 500;
    transition: 0.15s ease-in;
}

li:hover {
    transform: scale(1.05);
}

li a:hover {
    color: #00ADED;
    transition: 0.15s ease-out;
    cursor: pointer;
    font-weight: 800;
}

/* -------------------------- END Header -------------------------- */

/* -------------------------- MAIN -------------------------- */
.box_textMain {
    background-image: url(./assets/backgroundMain.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 92.3vh;
    color: #FFFFFF;
}

.title_main {
    overflow-y: hidden;
    padding-top: 12.75rem;
    color: #FFFFFF;
    text-align: center;
    font-family: Lato;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
    font-size: 5rem;
    font-weight: 700;
    line-height: 5.625rem;
}

.paragraph_main {
    height: 5.45rem;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3.12rem;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
    font-family: Lato;
    font-size: 1.5rem;
    font-weight: 400;
}

/* -------------------------- END MAIN -------------------------- */

/* -------------------------- SERVICES SECTION -------------------------- */

.container_services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_itensServices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.como_trabalhamos {
    padding-top: 5.58rem;
    margin-right: 70rem;
    color: #757575;
    font-family: Poppins;
    font-size: 1.0625rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.nossos_servicos {
    padding-top: 0.94rem;
    margin-right: 43.5rem;
    width: 40.9rem;
    color: #1B1717;
    font-family: Poppins;
    font-size: 2.8125rem;
    font-weight: 1000;
    letter-spacing: 0.2rem;
}

/* INSIGHTS */
.icon_insights {
    width: 3.9rem;
    padding-top: 0.97rem;
}

.box_insights h3 {
    color: #1B1717;
    width: 26.5rem;
    padding-top: 1.45rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.12rem;
}

.box_insights {
    overflow-y: hidden;
    padding-left: 4.6rem;
    width: 30.5rem;
    margin-top: 4rem;
    height: 19.5rem;
}

.box_insights p {
    color: #6E6E6E;
    padding-top: 1rem;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

/* MAPA DE CALOR */
.box_mapaCalor {
    background-color: #00ADED;
    padding-left: 1.6rem;
    width: 30.5rem;
    margin-top: 4rem;
    height: 19.5rem;
}

.icon_mapaCalor {
    padding-top: 0.87rem;
    padding-left: 0.5rem;
}

.box_mapaCalor h3 {
    color: #FFFFFF;
    padding-top: 1.45rem;
    padding-left: 1.8rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.box_mapaCalor p {
    color: #FFFFFF;
    padding-top: 0.93rem;
    padding-left: 1.8rem;
    font-family: Poppins;
    font-size: 1.0625rem;
    font-weight: 400;
}

/* RELATÓRIOS */
.box_relatorios {
    padding-left: 4.6rem;
    width: 30.5rem;
    margin-top: 4rem;
    align-items: center;
    height: 19.5rem;
}

.icon_relatorios {
    padding-top: 0.87rem;
}

.box_relatorios h3 {
    color: #1B1717;
    letter-spacing: 0.2rem;
    padding-top: 1.45rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.box_relatorios p {
    color: #6E6E6E;
    padding-top: 1rem;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 400;
}

/* -------------------------- END SERVICES SECTION -------------------------- */

/* -------------------------- SOBRE NÓS -------------------------- */
.container_sobreNos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 3.5rem;
}

.image_sanitation {
    background-color: #C2C2C2;
    margin: 0rem 1.88rem 3.12rem 3.9rem;
    width: 40.9rem;
    height: 28.3rem;
}

.nosso_proposito {
    padding-top: 1.88rem;
    color: #757575;
    font-family: Poppins;
    font-size: 1.0625rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.title_sobreNos {
    width: 40.9375rem;
    color: #1B1717;
    font-family: Poppins;
    font-size: 2.8125rem;
    font-weight: 1000;
    letter-spacing: 0.049rem;
}

.paragraph_sobreNos {
    color: #6E6E6E;
    padding-top: 0.94rem;
    padding-bottom: 3.12rem;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 400;
}

/* -------------------------- END SOBRE NÓS -------------------------- */

/* -------------------------- THREE TITLES -------------------------- */
.container_threeTitles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_threeTitles h4 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.box_inovacaoSustentavel {
    overflow-y: hidden;
    background-color: #21A2D1;
    padding-top: 5rem;
    padding-left: 1.94rem;
    width: 27.96019rem;
    height: 18.5rem;
    margin-left: 3rem;
}

.box_inovacaoSustentavel p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.0625rem;
    font-weight: 400;
    padding-top: 0.94rem;
    padding-bottom: 6.06rem;
}

.box_precisaoConfiabilidade {
    overflow-y: hidden;
    background-color: #47BFEB;
    padding-top: 5rem;
    padding-left: 1.94rem;
    width: 27.96019rem;
    height: 18.5rem;
}

.box_precisaoConfiabilidade p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.0625rem;
    font-weight: 400;
    padding-top: 0.94rem;
    padding-bottom: 6.06rem;
}

.box_responsabilidadeSocial {
    overflow-y: hidden;
    background-color: #21A2D1;
    padding-top: 5rem;
    padding-left: 1.94rem;
    width: 27.96019rem;
    height: 18.5rem;
}

.box_responsabilidadeSocial p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.0625rem;
    font-weight: 400;
    padding-top: 0.94rem;
    padding-bottom: 6.06rem;
}


/* -------------------------- END THREE TITLES -------------------------- */

/* -------------------------- PROTEJA SUA COMUNIDADE -------------------------- */
.container_protejaSuaComunidade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3.5rem;
    margin-left: 3.94rem;
}

.evite_problemas {
    margin-top: 17.19rem;
    margin-left: 3.94rem;
    margin-bottom: 0.94rem;
    color: #757575;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 900;
    letter-spacing: 0.045rem;
}

.title_protejaSuaComunidade {
    margin-left: 3.94rem;
    margin-bottom: 0.81rem;
    color: #1B1717;
    width: 40.9375rem;
    font-family: Poppins;
    font-size: 2.8125rem;
    font-weight: 1000;
    letter-spacing: 0.049rem;
}

.paragraph_protejaSuaComunidade {
    margin-left: 3.94rem;
    margin-bottom: 1.38rem;
    color: #6E6E6E;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 400;
}

.button_comecar {
    background-color: #21A2D1;
    color: #FFFFFF;
    font-weight: 550;
    letter-spacing: 0.09rem;
    text-align: center;
    border: none;
    border-radius: 1.05rem 0.1rem;
    margin-left: 3.94rem;
    width: 11.375rem;
    height: 4.5625rem;
    transition: 0.2s ease-in;
}

.button_comecar:hover {
    cursor: pointer;
    transition: 0.18s ease-out;
    transform: scale(1.03);
    background-color: #00aeedd1;
    border-radius: 0.1rem 0.9rem;
}

.top_img {
    position: relative;
    background-color: #808080;
    margin-left: 7.12rem;
    margin-top: 6.25rem;
    width: 33.8125rem;
    height: 21.875rem;
}

.center_img {
    position: relative;
    bottom: 9.79rem;
    background-color: #00ADED;
    width: 33.8125rem;
    height: 21.875rem;
    z-index: 1;
}

.bottom_img {
    position: relative;
    bottom: 17.96rem;
    background-color: #808080;
    margin-left: 7.12rem;
    width: 33.8125rem;
    height: 21.875rem;
}

/* -------------------------- END PROTEJA SUA COMUNIDADE -------------------------- */

/* -------------------------- ELES CONFIAM NA GENTE -------------------------- */

.container_elesConfiam {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title_elesConfiam {
    color: #1B1717;
    font-family: Poppins;
    font-size: 3.1rem;
    font-weight: 1000;
    letter-spacing: 0.19rem;
}

.box_companiesLogo {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.itau {
    padding-top: 1.5rem;
}

.stefanini {
    padding-top: 0.81rem;
}

.minsait {
    padding-top: 0.81rem;
}

.v8_tech {
    padding-top: 2.1rem;
}

.saoPaulo {
    padding-top: 2.1rem;
}

/* -------------------------- END ELES CONFIAM NA GENTE -------------------------- */

/* -------------------------- VAMOS CONVERSAR -------------------------- */
.container_vamosConversar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10.62rem;
    gap: 4.75rem;
}

.vamosConversar {
    /* margin-left: 2.94rem; */
    text-align: center;
}

.title_vamosConversar {
    color: #000000;
    font-family: Poppins;
    font-size: 4rem;
    font-weight: 500;
    padding-top: 6rem;
}

.paragraph_vamosConversar {
    padding-top: 1.25rem;
    color: #000000;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 400;
}

.formulario_vamosConversar p {
    color: #000000;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 0.94rem;
}

#id_email,
#id_assunto,
#id_message {
    padding-top: 1.75rem;
}

#input_nome,
#input_email,
#input_assunto {
    border: none;
    background-color: #e2e2e2a6;
    width: 38.1rem;
    height: 2.875rem;
}

#input_message {
    border: none;
    background-color: #e2e2e2a6;
    width: 38.1rem;
    height: 10.3125rem;
    align-self: stretch;
}

.container_buttonEnviar {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.button_enviar {
    background-color: #21A2D1;
    color: #FFFFFF;
    font-weight: 550;
    border: none;
    letter-spacing: 0.09rem;
    padding: 1rem 10.375rem;
    margin-top: 1.75rem;
    transition: 0.2s ease-in;
}

.button_enviar:hover {
    cursor: pointer;
    transform: scale(1.025);
    background-color: #00aeedd1;
    transition: 0.18s ease-out;
}

/* -------------------------- END VAMOS CONVERSAR -------------------------- */

/* -------------------------- FOOTER -------------------------- */

.container_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -5.62rem;
}

.box_revolucioneSaneamento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 16.62rem;
    background-color: #21A2D1;
    width: 83.75rem;
    height: 22.125rem;
    z-index: 2;
}

.title_revolucioneSaneamento {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 3.4rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    padding-top: 3.12rem;
}

.button_comecarFooter {
    position: relative;
    right: 27.45rem;
    background-color: #007E95;
    color: #FFFFFF;
    width: 12.4rem;
    height: 2.94rem;
    padding-top: 1.56rem;
    margin-top: 2.19rem;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 800;
    letter-spacing: 0.099rem;
    border-radius: 0.9rem 0.1rem;
    transition: 0.25s ease-out;
}

.button_comecarFooter:hover {
    cursor: pointer;
    transition: 0.25s ease-out;
    transform: scale(1.03);
    background-color: #86DFFF;
    border-radius: 0.1rem 0.9rem;
}

.box_footer {
    position: relative;
    background-color: #2091BA;
    width: 100%;
    z-index: 1;
    padding-top: 17.94rem;
}

.footer_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.information {
    width: 39.6875rem;
    height: 20.0625rem;
    padding-left: 4.43rem;
}

.information h4 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.56rem;
    font-weight: 900;
    padding-top: 2.44rem;
    letter-spacing: 0.10rem;
}

.information p {
    padding-top: 1.3rem;
    padding-bottom: 1.88rem;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 400;
}

.box_iconInformation {
    display: flex;
    flex-direction: row;
    gap: 0.94rem;
    padding-top: 0.87rem;
    overflow-y: hidden;
}

.icon_information {
    transition: 0.2s ease;
}

.icon_information:hover {
    cursor: pointer;
    color: #71D9FF;
    transition: 0.2s ease;
    transform: scale(1.03);
}

.navegacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25.0625rem;
    height: 20.0625rem;
}

.navegacao h4 {
    width: 19.5625rem;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.56rem;
    font-weight: 900;
    padding: 2.44rem 0 0.94rem 5.5rem;
    letter-spacing: 0.10rem;
}

.navegacao p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 400;
}

.box_iconArrow {
    display: flex;
    flex-direction: column;
    margin-right: 6.9rem;
    overflow-y: hidden;
}

.icon_greenArrow {
    display: flex;
    flex-direction: row;
    gap: 0.62rem;
    transition: 0.2s ease;
    overflow-y: hidden;
}

.icon_greenArrow:hover {
    cursor: pointer;
    color: #71D9FF;
    transition: 0.2s ease;
    transform: scale(1.03);
}

.icon_greenArrow img {
    width: 0.8rem;
    height: 1.15rem;
    padding-bottom: 0.94rem;
}

.icon_greenArrow p {
    position: relative;
    bottom: 0.15rem;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.0625rem;
    height: 2.5rem;
    font-weight: 400;
}

.icon_greenArrow p:hover {
    color: #71D9FF;
}

.contato {
    width: 24.5rem;
    height: 20.0625rem;
}

.contato h4 {
    width: 19.5625rem;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.56rem;
    font-weight: 900;
    padding: 2.44rem 0 1.94rem 1.88rem;
    letter-spacing: 0.10rem;
}

.contato p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 400;
}

.contato p:hover {
    color: #71D9FF;
}

.box_iconContato {
    display: flex;
    flex-direction: column;
    margin-right: 6.9rem;
    padding-left: 1.87rem;
    overflow-y: hidden;
}

.icon_contato {
    display: flex;
    flex-direction: row;
    width: 40rem;
    transition: 0.2s ease;
}

.icon_contato:hover {
    cursor: pointer;
    color: #71D9FF;
    transition: 0.2s ease;
    transform: scale(1.01);
}

.icon_contato img {
    width: 1.225rem;
    height: 1.25rem;
    margin-bottom: 1.5rem;
    margin-right: 0.94rem;
}

.icon_contato p {
    position: relative;
    bottom: 0.10rem;
    width: max-content;
    text-wrap: nowrap;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.0625rem;
    height: 2.5rem;
    font-weight: 400;
    overflow-y: hidden;
}

.horizontal_line {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}

.last_options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.62rem;
    gap: 48rem;
    position: relative;
    bottom: 1rem;
}

.last_three {
    display: flex;
    flex-direction: row;
    gap: 3.75rem;
}

.last_datasane p,
.last_three p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
    transition: 0.2s ease-out;
}

.last_datasane p:hover,
.last_three p:hover {
    cursor: pointer;
    color: #71D9FF;
    transform: scale(1.015);
    transition: 0.2s ease-out;
}

/* -------------------------- END FOOTER -------------------------- */

@media screen and (max-width: 768px) {
    .container_threeTitles {
        flex-direction: column;
        align-items: center;
    }
}