<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSane | Inovação que purifica</title>
    <link rel="shortcut icon" href="/assets/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/global-style.css">

    <link rel="stylesheet" href="/css/index/header-style.css">
    <link rel="stylesheet" href="/css/index/services-style.css">
    <link rel="stylesheet" href="/css/index/sobreNos-style.css">
    <link rel="stylesheet" href="/css/index/main-style.css">
    <script src="/js/header-mobile.js" defer></script>
</head>

<body>
    <header class="header">
        <div class="inner-header">
            <div class="logo-wrapper">
                <img src="/assets/icon/DataSane.svg" alt="logo">
            </div>
            <div class="btnMob-wrapper">
                <button type="button" class="btn-navmob">O</button>
            </div>
            <nav class="nav-bar">
                <ul class="nav-list">
                    <li class="nav-list">
                        <a href="home" class="nav-link on">Home</a>
                    </li>
                    <li class="nav-list">
                        <a href="about" class="nav-link">Sobre nós</a>
                    </li>
                    <li class="nav-list">
                        <a href="services" class="nav-link">Serviços</a>
                    </li>
                    <li class="nav-list">
                        <a href="partners" class="nav-link">Parceiros</a>
                    </li>
                    <li class="nav-list">
                        <a href="contact" class="nav-link">Contato</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="container_backgroundMain">
            <div class="box_textMain">
                <div class="title_main">
                    Seu Aliado na Gestão de <br>Saneamento Básico
                </div>

                <div class="paragraph_main">
                    Nosso sistema de monitoramento e insights em saneamento básico ajuda a identificar <br>áreas
                    críticas,
                    antecipar desafios, garantindo operações mais eficientes e melhor <br>qualidade de vida.
                </div>
            </div>

            <div class="img_waves" style="width: 200rem; display: flex; justify-content: center;">
                <img src="/assets/icon/wave.svg">
            </div>
        </div>

        <div class="container_services">
            <div class="como_trabalhamos">
                <p>COMO TRABALHAMOS</p>
            </div>

            <div class="nossos_servicos">
                <p>NOSSOS SERVIÇOS</p>
            </div>
        </div>

        <div class="container_itensServices">
            <div class="box_insights">
                <div class="icon_insights">
                    <img src="/assets/img/icon-insights.png">
                </div>

                <h3>
                    INSIGHTS <br>
                    ESTRATÉGICOS
                </h3>

                <p>Receba insights moldados para as <br>
                    necessidades do seu negócio.</p>
            </div>

            <div class="box_mapaCalor">
                <div class="icon_mapaCalor">
                    <img src="/assets/img/icon-mapaCalor.png">
                </div>

                <h3>
                    MAPA DE <br>
                    CALOR
                </h3>

                <p>Nosso Mapa de Calor destaca padrões de <br>
                    água, esgoto, lixo e inundações, facilitando <br>
                    decisões estratégicas e gestão eficiente.</p>
            </div>

            <div class="box_relatorios">
                <div class="icon_relatorios">
                    <img src="/assets/img/icon-relatorios.png">
                </div>

                <h3>
                    RELATÓRIOS <br>
                    ESTRATÉGICOS
                </h3>

                <p>Acesse relatórios claros e precisos sempre <br>
                    que precisar, facilitando a tomada de <br>
                    decisões com informações críticas.</p>
            </div>
        </div>

        <div class="container_sobreNos">
            <aside class="image_sanitation">

            </aside>

            <aside class="sobre_nos">
                <div class="container_title-sobreNos">
                    <div class="nosso_proposito">
                        <p>NOSSO PROPÓSITO</p>
                    </div>

                    <div class="title_sobreNos">
                        <p>SOBRE NÓS</p>
                    </div>
                </div>

                <div class="paragraph_sobreNos">
                    Somos especialistas em transformar dados em soluções eficazes para o <br>
                    saneamento básico. Com uma equipe dedicada e tecnologia de ponta, <br>
                    desenvolvemos sistemas de monitoramento e geração de insights que <br>
                    ajudam a otimizar a gestão de recursos essenciais, como água, esgoto, <br>
                    coleta de lixo e controle de inundações. <br>
                    <br>
                    Nosso compromisso é capacitar gestores a tomar decisões informadas, <br>
                    melhorando a eficiência operacional e contribuindo para o bem-estar das <br>
                    comunidades atendidas. Atuamos com a visão de um futuro mais <br>
                    sustentável e inteligente, onde cada dado conta para um impacto positivo.
                </div>
            </aside>
        </div>
    </div>
</body>

</html>