<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home blablbl</title>
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/index/header-style.css">
    <link rel="stylesheet" href="/css/index/home-style.css">
</head>
<body>
    <header class="header">
        <div class="inner-header">

        </div>
    </header>
    <main class="main">
        <div class="inner-main">

        </div>
    </main>
</body>
</html>