<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSane | Inovação que purifica</title>
    <link rel="shortcut icon" href="/assets/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/index/header-style.css">
    <link rel="stylesheet" href="/css/index/services-style.css">
    <link rel="stylesheet" href="/css/index/sobreNos-style.css">
    <link rel="stylesheet" href="/css/index/threeTitles-style.css">
    <link rel="stylesheet" href="/css/index/protejaSuaComunidade-style.css">
    <link rel="stylesheet" href="/css/index/elesConfiam-style.css">
    <link rel="stylesheet" href="/css/index/vamosConversar-style.css">
    <link rel="stylesheet" href="/css/index/footer-style.css">
    <link rel="stylesheet" href="/css/index/main-style.css">
    <script src="/js/header-mobile.js" defer></script>
</head>

<body>
    <header class="header">
        <div class="inner-header">
            <div class="logo-wrapper">
                <img src="/assets/icon/DataSane.svg" alt="logo">
            </div>
            <div class="btnMob-wrapper">
                <button type="button" class="btn-navmob">O</button>
            </div>

            <nav class="nav-bar">
                <ul class="nav-list">
                    <li class="nav-list">
                        <a href="home" class="nav-link on">Home</a>
                    </li>
                    <li class="nav-list">
                        <a href="about" class="nav-link">Sobre nós</a>
                    </li>
                    <li class="nav-list">
                        <a href="services" class="nav-link">Serviços</a>
                    </li>
                    <li class="nav-list">
                        <a href="partners" class="nav-link">Parceiros</a>
                    </li>
                    <li class="nav-list">
                        <a href="contact" class="nav-link">Contato</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="container_backgroundMain">
            <div class="box_textMain">
                <div class="title_main">
                    Seu Aliado na Gestão de <br>Saneamento Básico
                </div>

                <div class="paragraph_main">
                    Nosso sistema de monitoramento e insights em saneamento básico ajuda a identificar <br>áreas
                    críticas,
                    antecipar desafios, garantindo operações mais eficientes e melhor <br>qualidade de vida.
                </div>
            </div>

            <div class="img_waves" style="width: 200rem; display: flex; justify-content: center;">
                <img src="/assets/icon/wave.svg">
            </div>
        </div>

        <div class="container_services">
            <div class="como_trabalhamos">
                <p>COMO TRABALHAMOS</p>
            </div>

            <div class="nossos_servicos">
                <p>NOSSOS SERVIÇOS</p>
            </div>
        </div>

        <div class="container_itensServices">
            <div class="box_insights">
                <div class="icon_insights">
                    <img src="/assets/img/icon-insights.png">
                </div>

                <h3>
                    INSIGHTS <br>
                    ESTRATÉGICOS
                </h3>

                <p>Transformação de dados complexos em estratégias eficazes para as
                    necessidades do negócio.</p>
            </div>

            <div class="box_mapaCalor">
                <div class="icon_mapaCalor">
                    <img src="/assets/img/icon-mapaCalor.png">
                </div>

                <h3>
                    MAPA DE <br>
                    CALOR
                </h3>

                <p>Nosso Mapa de Calor destaca padrões de <br>
                    água, esgoto, lixo e inundações, facilitando <br>
                    decisões estratégicas e gestão eficiente.</p>
            </div>

            <div class="box_relatorios">
                <div class="icon_relatorios">
                    <img src="/assets/img/icon-relatorios.png">
                </div>

                <h3>
                    RELATÓRIOS <br>
                    PRECISOS
                </h3>

                <p>Acesse relatórios claros e precisos sempre <br>
                    que precisar, facilitando a tomada de <br>
                    decisões com informações críticas.</p>
            </div>
        </div>

        <div class="container_sobreNos">
            <aside class="image_sanitation">

            </aside>

            <aside class="sobre_nos">
                <div class="container_title-sobreNos">
                    <div class="nosso_proposito">
                        <p>NOSSO PROPÓSITO</p>
                    </div>

                    <div class="title_sobreNos">
                        <p>SOBRE NÓS</p>
                    </div>
                </div>

                <div class="paragraph_sobreNos">
                    Somos especialistas em transformar dados em soluções eficazes para o <br>
                    saneamento básico. Com uma equipe dedicada e tecnologia de ponta, <br>
                    desenvolvemos sistemas de monitoramento e geração de insights que <br>
                    ajudam a otimizar a gestão de recursos essenciais, como água, esgoto, <br>
                    coleta de lixo e controle de inundações. <br>
                    <br>
                    Nosso compromisso é capacitar gestores a tomar decisões informadas, <br>
                    melhorando a eficiência operacional e contribuindo para o bem-estar das <br>
                    comunidades atendidas. Atuamos com a visão de um futuro mais <br>
                    sustentável e inteligente, onde cada dado conta para um impacto positivo.
                </div>
            </aside>
        </div>

        <div class="container_threeTitles">
            <div class="box_inovacaoSustentavel">
                <h4>
                    INOVAÇÃO <br>
                    SUNSTENTÁVEL
                </h4>

                <p>
                    Desenvolvemos soluções tecnológicas para <br>
                    uma gestão eficiente e sustentável dos <br>
                    recursos essenciais.
                </p>
            </div>

            <div class="box_precisaoConfiabilidade">
                <h4>
                    PRECISÃO E <br>
                    CONFIABILIDADE
                </h4>

                <p>
                    Garantimos dados precisos e insights <br>
                    confiáveis para decisões assertivas e <br>
                    gestão eficaz.
                </p>
            </div>

            <div class="box_responsabilidadeSocial">
                <h4>
                    RESPONSABILIDADE <br>
                    SOCIAL
                </h4>

                <p>
                    Melhorar a saúde e as condições de vida <br>
                    promove justiça social e bem-estar para os <br>
                    mais vulneráveis.
                </p>
            </div>
        </div>

        <div class="container_protejaSuaComunidade">
            <aside class="protejaSuaComunidade">
                <div class="container_title-protejaSuaComunidade">
                    <div class="evite_problemas">
                        <h6>EVITE PROBLEMAS</h6>
                    </div>

                    <div class="title_protejaSuaComunidade">
                        <h3>PROTEJA SUA <br>
                            COMUNIDADE
                        </h3>
                    </div>
                </div>

                <div class="paragraph_protejaSuaComunidade">
                    A falta de saneamento adequado pode comprometer a saúde pública, <br>
                    causar poluição e afetar a qualidade de vida de toda a comunidade. <br>
                    <br>
                    Nossa solução de monitoramento e geração de insights oferece as <br>
                    ferramentas necessárias para detectar problemas antes que se tornem <br>
                    crises, garantindo que o saneamento seja gerido de forma eficaz e <br>
                    sustentável.
                </div>

                <button class="button_comecar">
                    COMEÇAR
                </button>
            </aside>

            <aside class="images_protejaSuaComunidade">
                <div class="top_img">

                </div>

                <div class="center_img">

                </div>

                <div class="bottom_img">

                </div>
            </aside>
        </div>

        <div class="container_elesConfiam">
            <div class="title_elesConfiam">
                <h3>ELES CONFIAM NA GENTE</h3>
            </div>

            <div class="box_companiesLogo">
                <div class="itau">
                    <img src="./assets/img/itau-icon.png">
                </div>

                <div class="stefanini">
                    <img src="./assets/img/stefanini-icon.png">
                </div>

                <div class="minsait">
                    <img src="./assets/img/minsait-icon.png">
                </div>

                <div class="v8_tech">
                    <img src="./assets/img/v8_tech-icon.png">
                </div>

                <div class="saoPaulo">
                    <img src="./assets/img/saoPaulo-icon.png">
                </div>
            </div>
        </div>

        <div class="container_vamosConversar">
            <aside class="vamosConversar">
                <div class="title_vamosConversar">
                    <p>VAMOS CONVERSAR!</p>
                </div>

                <div class="paragraph_vamosConversar">
                    <p>Precisa de ajuda ou mais informações? Entre em contato <br>
                        preenchendo o formulário ou usando nossos dados de <br>
                        contato. Nossa equipe responderá rapidamente para <br>
                        fornecer o suporte necessário.</p>
                </div>
            </aside>

            <aside class="formulario_vamosConversar">
                <p>Nome</p>
                <input id="input_nome">

                <p id="id_email">Email</p>
                <input id="input_email">

                <p id="id_assunto">Assunto</p>
                <input id="input_assunto">

                <P id="id_message">Message</P>
                <input id="input_message">

                <div class="container_buttonEnviar">
                    <button class="button_enviar">
                        ENVIAR
                    </button>
                </div>
            </aside>
        </div>

        <div class="container_footer">
            <div class="box_revolucioneSaneamento">
                <div class="title_revolucioneSaneamento">
                    REVOLUCIONE O SANEAMENTO COM <br>
                    NOSSA TECNOLOGIA DE PONTA
                </div>

                <div class="button_comecarFooter">
                    COMEÇAR
                </div>
            </div>

            <div class="box_footer">
                <div class="footer_content">
                    <div class="information">
                        <h4>INFORMATION</h4>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur <br>
                            adipiscing elit. Ut elit tellus, luctus nec <br>
                            ullamcorper mattis, pulvinar dapibus leo.
                        </p>

                        <div class="box_iconInformation">
                            <div class="icon_information">
                                <img src="/assets/img/icon-facebook.png">
                            </div>

                            <div class="icon_information">
                                <img src="/assets/img/icon-twitter.png">
                            </div>

                            <div class="icon_information">
                                <img src="/assets/img/icon-instagram.png">
                            </div>

                            <div class="icon_information">
                                <img src="/assets/img/icon-linkedin.png">
                            </div>
                        </div>
                    </div>

                    <div class="navegacao">
                        <h4>NAVEGAÇÃO</h4>

                        <div class="box_iconArrow">
                            <div class="icon_greenArrow">
                                <img src="/assets/img/icon-greenArrow.png">

                                <p>Início</p>
                            </div>

                            <div class="icon_greenArrow">
                                <img src="/assets/img/icon-greenArrow.png">

                                <p>Serviços</p>
                            </div>

                            <div class="icon_greenArrow">
                                <img src="/assets/img/icon-greenArrow.png">

                                <p>Sobre Nós</p>
                            </div>

                            <div class="icon_greenArrow">
                                <img src="/assets/img/icon-greenArrow.png">

                                <p>Contato</p>
                            </div>
                        </div>
                    </div>
                    <div class="contato">
                        <h4>CONTATO</h4>

                        <div class="box_iconContato">
                            <div class="icon_contato">
                                <img src="/assets/img/icon-pinLocal.png">

                                <p>Lumbung Hidup East Java</p>
                            </div>

                            <div class="icon_contato">
                                <img src="/assets/img/icon-email.png">

                                <p>Hello@Homco.com</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="horizontal_line">
                    <img src="/assets/img/horizontal-line.png">
                </div>

                <div class="last_options">
                    <div class="last_datasane">
                        <p>DATASANE</p>
                    </div>

                    <div class="last_three">
                        <div class="last_disclaimer">
                            <p>DISCLAIMER</p>
                        </div>

                        <div class="last_privacyPolicy">
                            <p>PRIVACY POLICY</p>
                        </div>

                        <div class="last_termOfUse">
                            <p>TERM OF USE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>