<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login/login-style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="container_boxLogin">
            <div class="box_login">
                <div class="box_icon">
                    <img src="./assets/topLogo-DataSane.png" alt="logo">
                </div>
    
                <div class="title_bem-vindo">
                    Bem Vindo!
                </div>
    
                <div class="box_inputs">
                    <div class="title_email">
                        Email
                    </div>
                    <input type="email">
    
    
                    <div class="title_senha">
                        Senha
                    </div>
    
                    <input type="senha">
                </div>
    
                <div class="box_button">
                    ENVIAR
                </div>
    
                <div class="box_textCadastro">
                    <div class="aindaNaoTem">
                        Ainda não tem cadastro? 
                    </div>
    
                    <div class="cadastre-se">
                        Cadastre-se
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>