.container_elesConfiam {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title_elesConfiam {
    color: #1B1717;
    font-family: Poppins;
    font-size: 3.1rem;
    font-weight: 1000;
    letter-spacing: 0.19rem;
}

.box_companiesLogo {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.itau {
    padding-top: 1.5rem;
}

.stefanini {
    padding-top: 0.81rem;
}

.minsait {
    padding-top: 0.81rem;
}

.v8_tech {
    padding-top: 2.1rem;
}

.saoPaulo {
    padding-top: 2.1rem;
}

/* ------------------ RESPONSIVIDADE ------------------ */
@media screen and (max-width: 768px) {
    .container_elesConfiam { 
        /* justify-content: center; */
        width: 80%;    
    }

    .title_elesConfiam {
        margin-top: 10rem;
        margin-bottom: -0.8rem;
        width: 100%;
        transform: scale(0.8);
        font-size: 2rem;
        text-align: center;
    }

    .box_companiesLogo {
        width: 100%;
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        transform: scale(0.8);
    }
}