.header{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
}

.inner-header{
    width: 80%;
    height: 100%;
    background-color: #FFF;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper{
    height: 100%;
    width: 170px;
    display: flex;
    align-items: center;
}
.logo-wrapper > img{
    height: 90%;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    font-size: 14px;
}
.nav-link{
    color: #4d4d4d;
    text-decoration: none;
    transition: 0.3s all;
}
.nav-link.on, .nav-link:hover{
    color: #00ADED;
}
.nav-link:hover{
    transform: scale(0.95);
}
.nav-list:nth-child(5){
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
}
.nav-list:nth-child(5) > .nav-link{
    color: #FFF;
    padding: 9px 27px;
    background-color: #00ADED;
    border-radius: 3px;
}
.nav-list:nth-child(5) > .nav-link:hover{
    background-color: #007fad;
}

 /*  responsivididade */

.btnMob-wrapper{
    display: none;
}

@media(max-width: 995px){
    .btnMob-wrapper{
        display: flex;
    }
    .nav-bar{
        position: absolute;
        top: 70px;
        width: 100%;
        background-color: #FFF;
        padding-bottom: 30px;
        right: -100%;
    }
    .nav-bar > .nav-list{
        display: flex;
        flex-direction: column;
    }
    .nav-bar.active{
        right: 0;
    }
}