.container_protejaSuaComunidade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3.5rem;
    margin-left: 3.94rem;
}

.evite_problemas {
    margin-top: 17.19rem;
    margin-left: 3.94rem;
    margin-bottom: 0.94rem;
    color: #757575;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.045rem;
}

.title_protejaSuaComunidade {
    margin-left: 3.94rem;
    margin-bottom: 0.81rem;
    color: #1B1717;
    width: 40.9375rem;
    font-family: Poppins;
    font-size: 2.8125rem;
    font-weight: 1000;
    letter-spacing: 0.049rem;
}

.paragraph_protejaSuaComunidade {
    margin-left: 3.94rem;
    margin-bottom: 1.38rem;
    color: #6E6E6E;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 400;
}

.button_comecar {
    background-color: #21A2D1;
    color: #FFFFFF;
    font-weight: 550;
    letter-spacing: 0.09rem;
    text-align: center;
    border: none;
    border-radius: 1.05rem 0.1rem;
    margin-left: 3.94rem;
    width: 11.375rem;
    height: 4.5625rem;
    transition: 0.2s ease-in;
}

.button_comecar:hover {
    cursor: pointer;
    transition: 0.18s ease-out;
    transform: scale(1.03);
    background-color: #00aeedd1;
    border-radius: 0.1rem 0.9rem;
}

.top_img {
    position: relative;
    background-color: #808080;
    margin-left: 7.12rem;
    margin-top: 6.25rem;
    width: 33.8125rem;
    height: 21.875rem;
}

.center_img {
    position: relative;
    bottom: 9.79rem;
    background-color: #00ADED;
    width: 33.8125rem;
    height: 21.875rem;
    z-index: 1;
}

.bottom_img {
    position: relative;
    bottom: 17.96rem;
    background-color: #808080;
    margin-left: 7.12rem;
    width: 33.8125rem;
    height: 21.875rem;
}

/* ------------------ RESPONSIVIDADE ------------------ */
@media screen and (max-width: 768px) {
    .container_protejaSuaComunidade {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 0;
    }

    .protejaSuaComunidade {
        /* margin-left: 0; */
        transform: scale(0.8);
        width: 100%;
    }

    .evite_problemas,
    .title_protejaSuaComunidade,
    .paragraph_protejaSuaComunidade {
        margin-left: 0;
        padding-left: 0;
    }

    .container_title-protejaSuaComunidade {
        align-items: center;
    }

    .evite_problemas {
        margin-top: 0rem;
        margin-bottom: -0.9rem;
    }

    .title_protejaSuaComunidade h3 {
        transform: scale(0.7);
        margin-right: 50rem;
        margin-bottom: -0.5rem;
    }

    .paragraph_protejaSuaComunidade {
        margin-bottom: 2.5rem;
    }

    .paragraph_protejaSuaComunidade br {
        display: none;
    }

    .images_protejaSuaComunidades {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .top_img {
        width: 18.75rem;
        height: 15.625rem;
        margin-left: 0rem;
        margin-top: 0rem;
        display: none;
    }

    .center_img {
        width: 18.75rem;
        height: 15.625rem;
        bottom: 0;
    }

    .bottom_img {
        bottom: 0;
        width: 18.75rem;
        height: 15.625rem;
        margin-left: 0;
        display: none;
    }
}