.container_sobreNos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 3.5rem;
}

.image_sanitation {
    background-color: #C2C2C2;
    margin: 0rem 1.88rem 3.12rem 3.9rem;
    width: 40.9rem;
    height: 28.3rem;
}

.nosso_proposito {
    padding-top: 1.88rem;
    color: #757575;
    font-family: Poppins;
    font-size: 1.0625rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.title_sobreNos {
    width: 40.9375rem;
    color: #1B1717;
    font-family: Poppins;
    font-size: 2.8125rem;
    font-weight: 1000;
    letter-spacing: 0.049rem;
}

.paragraph_sobreNos {
    color: #6E6E6E;
    padding-top: 0.94rem;
    padding-bottom: 3.12rem;
    font-family: Poppins;
    font-size: 1.06rem;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .container_sobreNos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .image_sanitation {
        /* transform: scale(0.7);   */
        margin: 0rem 0rem 3.12rem 0rem;
        width: 120%;
    }

    .container_title-sobreNos {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nosso_proposito {
        width: 100%;
        margin-top: -2.3rem;
        transform: scale(0.7);
    }

    .title_sobreNos {
        width: 100%;
        margin-top: 0rem;
        margin-right: 15.9rem;
        transform: scale(0.7);
    }

    .paragraph_sobreNos {
        width: 100%;
        margin-top: -5rem;
        margin-right: 15.9rem;
        transform: scale(0.7);
    }
}